# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# VS Code
.vscode/

# OCR Debug
output/debug/

# Excel Exporte
output/*.xlsx

# SQLite Datenbank
database/*.db

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store